# Travis CI Configuration File

# Tell Travis CI which distro to use
dist: trusty

sudo: false

# Tell Travis CI we're using PHP
language: php

# Tell Travis CI which notifications to send
notifications:
  email:
    on_success: never
    on_failure: change

# whitelist branches for the "push" build check
branches:
  only:
    - master
    - /^dev\-release\/.*$/
    - /^feature\/.*$/
    - /^fix\/.*$/

# Git clone depth
# By default Travis CI clones repositories to a depth of 50 commits
git:
  depth: 1

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

# Run Matrix for supported PHP versions
php:
  - "5.6"
  - "7.0"
  - "7.1"
  - "7.2"
  - "7.3"

env:
  matrix:
    - WP_MODE=single WP_VERSION=latest
    - WP_MODE=multi  WP_VERSION=latest

# Define a matrix of additional build configurations
# The versions listed above will automatically create our first configuration,
# so it doesn't need to be re-defined below.
matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: WP_VERSION=4.7

addons:
  apt:
    packages:
    - nodejs

before_install:
  - npm install grunt-cli

install:
  - composer install
  - npm install

before_script:
  # Setup unit testing environment
  - bash scripts/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  # Setup WordPress coding standards
  - composer global require wp-coding-standards/wpcs
  # Properly handle PHPUnit versions
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:2} == "5." ]]; then
      composer global require "phpunit/phpunit=4.8.*"
    else
      composer global require "phpunit/phpunit=5.7.*"
    fi

script:
  - |
    if [[ "$WP_MODE" == "multi" ]]; then
      WP_MULTISITE=1 npm run lint
    else
      WP_MULTISITE=0 npm run lint
    fi

after_success:
  - bash <(curl -s https://codecov.io/bash)
