# grumphp.yml
parameters:
    git_dir: .
    bin_dir: vendor/bin
    stop_on_failure: true
    process_timeout: 120
    parallel:
        enabled: true
        max_workers: 32
    fixer:
        enabled: false
        fix_by_default: false
    tasks: { phpcs: null, phpstan: null }
